<!-- <div class="container">
  <h3>Select your audio file. </h3>
  <input type="file" (change)="onFileSelected($event)" accept="audio/*" />
  <button (click)="onUpload()">Upload</button>
  <button *ngIf="downloadUrl" [attr.href]="downloadUrl" download="transcribedText.txt">Download Transcribed Text</button>
  <p *ngIf="message">{{ message }}</p>
</div> -->

<div class="container mt-5">
  <form>
    <div class="form-group">
      <label for="modelSelect" title="Select the transcription model based on accuracy and size" style="float:left">Select Transcription Model</label>
      <select class="form-control" id="modelSelect" [(ngModel)]="selectedModel" name="model" (change)="onModelChange($event)">
        <option value="tiny">Tiny</option>
        <option value="base" selected>Base</option>
        <option value="small">Small</option>
        <option value="medium">Medium</option>
      </select>
    </div>
    <div class="form-group">
      <label for="formatSelect" style="float:left">Select file format:</label>
      <select class="form-control" id="formatSelect" [(ngModel)]="selectedFormat" name="format">
        <option value="txt" selected>Text</option>
        <option value="doc">Word</option>
        <option value="pdf">PDF</option>
      </select>
    </div>
    <div class="form-group">
      <label for="fileUpload" style="float:left">Select audio file to transcribe</label>
      <input type="file" class="form-control-file" id="fileUpload" (change)="onFileSelected($event)" accept="audio/*" >
    </div>
    <button [disabled]="!selectedFile" type="button" class="btn btn-primary" (click)="onUpload()">Submit</button>
    <button *ngIf="downloadUrl" [attr.href]="downloadUrl" download="transcribedText.txt">Download Transcribed Text</button>    
    <p *ngIf="message">{{ message }}</p>
    <app-blur-progress [isLoading]="isLoading"></app-blur-progress>
  </form>
</div>