<div class="mt-5 uploaddisplay">
  <form>
     <!-- Transcription Model Selection -->
     <div class="form-group row">
      <label for="modelSelect" class="col-sm-3 col-form-label"
        title="Select the transcription model based on accuracy and size">Transcription Model:</label>
      <div class="col-sm-8">
        <select class="form-control" id="modelSelect" [(ngModel)]="selectedModel" name="model"
          (change)="onModelChange($event)">
          <option value="tiny">Usual Voice</option>
          <option value="base">Common Voice</option>
          <option value="small">Vulnerable Voice</option>
          <option value="medium">Immature Voice</option>
        </select>
      </div>
    </div>
    <!-- Display Voice Type -->
    <div class="form-group row">
      <label for="voiceType" class="col-sm-3 col-form-label" title="Voice Type">Voice Type:</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" id="voiceType" [(ngModel)]="voiceType" name="voiceType" readonly>
      </div>
    </div>
    <!-- File Upload with Drag and Drop and Attach -->
    <div class="form-group row">
      <label for="fileUpload" class="col-sm-3 col-form-label">Audio file:</label>
      <div class="col-sm-8">
        <div class="upload-container" (drop)="onDrop($event)" (dragover)="onDragOver($event)"
          (dragleave)="onDragLeave($event)">
          <input type="file" class="form-control-file" id="fileUpload" (change)="onFileSelected($event)"
            accept="audio/*" multiple hidden>
          <label for="fileUpload" class="btn btn-secondary btn-attach">+ Attach</label>
          <p *ngIf="selectedFiles.length === 0" class="drag-text">Drag & Drop files here or click + Attach</p>
          <ul>
            <li *ngFor="let file of selectedFiles">{{ file.name }}</li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Action Buttons -->
    <div class="form-group row">
      <label class="col-sm-3 col-form-label" ></label>
      <div class="col-sm-8 btnalign">
        <button [disabled]="selectedFiles.length === 0" type="button" class="btn btn-primary" (click)="onUpload()">Submit</button>
      </div>
    </div>

    <!-- Messages and Progress -->
    <p *ngIf="message">{{ message }}</p>
    <app-blur-progress [isLoading]="isLoading"></app-blur-progress>
  </form>
</div>