.third-div-alignment {
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border-radius: 8px;
    margin: 25px 0px;
}

.trans-align
{
    width: 100%;
}

.text-style 
{
    font-size: 24px;
    font-weight: bold;
}
:host{
    width: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1.1);
    padding: 0 1rem;
}

.trans-align{
    text-align: center;
    font: 124 1.812rem / 3.25rem Arial, sans-serif
}