<div class="mt-5 second-div-alignment">
    <button class="btn btn-primary" *ngIf="!isRecording && !blobUrl" (click)="startRecording()">Start Recording</button>

    <button class="btn btn-danger" *ngIf="isRecording && !blobUrl" (click)="stopRecording()">Stop Recording</button>

    <button class="btn btn-secondary spaced-button" *ngIf="!isRecording && blobUrl" (click)="clearRecordedData()">Clear Recording</button>

    <br>
    <button class="btn btn-secondary spaced-button" *ngIf="!isRecording && blobUrl" (click)="download()">Download Recording</button>

    <div *ngIf="isRecording && !blobUrl"> {{recordedTime}} </div>
    <div>
        <audio *ngIf="!isRecording && blobUrl" controls>
            <source [src]="blobUrl" type="audio/webm">
        </audio>
    </div>
</div>